/* At-Rules */
@charset "iso-8859-1";


body { 
		background: #FFFFFF !important;
	    color: #000000 !important;  
		 font-family:  verdana; 
	  	font-size: large; 
	  	text-align: center
	 }	  
	 
hr 
{
	height: 5px;
}
	 
table {
       border-collapse: collapse;
       border: 2px solid #000000;
       font: normal 12px verdana, arial, helvetica, sans-serif;
       color: #000000 !important; 
       text-align: center
      }	 
	  
tr.primeralinea {
                 background-color: #000099;   
				 border: none;  
				 color: #ffffff;
				 font-family:  Verdana, sans-serif, Arial; 
				 font-size: .9em; 
				 font-weight: bold; 
				 text-align: center
				}	 

.fixed {
                 background-color: #000099;   
				 border: none;  
				 font-family:  Verdana, sans-serif, Arial; 
				 font-size: .9em; 
				 font-weight: bold; 
				 text-align: center;
				 position: fixed;
				 z-index: 1;
				 top: 0px;
				}
.cuerpo {
	margin-top: 60px;
	position: relative;
}

.ruta{
	width: 36px;
}

.nombre{
	width: 184px;
	font-size: 1.1em;
	text-align: left;

}

.cuota_a{
	font-size: .8em; 
	width: 46px;
}

.c_d{
	width: 61px;
}
.c_a{
	width: 49px;
}

.abo{
	width: 46px;
}

.pres{
	width: 72px;
}

.pend{
	width: 44px;
}	

.tc{
	width: 43px;
}

.mf{
	width: 72px;
}						

.ta{
	width: 62px;
}

.sal{
	width: 72px;
}

.ren{
	width: 73px;
}

.botom{
	margin-top: 10px;
	position: relative;
}
				
td, th {
        border: 1px solid #000000;
        padding: 2px;
       } 
td.primeralinea
{
	border: 1px solid #000000;
	
}

.centrado{
	margin: 100px;
}
table.centrado td{
	height: 40px;
}

td.td_fecha{
	display: none;
	width:auto;
}

td.invisible{
	display: none;
	width:auto;
}
td.azul{
	background-color: #000099;   
	border: 1px solid #000000;  
	color: #ffffff;
}

   
input 
{
	border: 2px solid #000099;
	background: #C8E28C;	
}

input[type="text"]{
	height: 23px !important;
	margin-bottom: 1px !important;
}

input[type="text"].td_abono{
	width:46px !important;
	height: 20px !important; 
	margin: 0;
	padding: 0;
	text-align:center;
}



input[type="text"].angosto{
	width: 35px !important;
	height: 20px !important; 
	margin: 0;
	padding: 0;
	text-align: center;
}



.t_hija{
	border-style: none;
	width: 187px;
	color: #ffffff;
}

.t_hija tr td{
	border-style: none;
	color: #ffffff;
}

.formulario
{
	border: none;
	text-align: left;
	background: #CCCCCC;
}

.cuadro{
  margin-left: 10px;
  margin-right: 10px;
}

.activa{
	color: blue;
    font-size: 15px;
    font-weight: bold;
}

.inactiva{
 	color: red;
    font-size: 15px;
    font-weight: bold;
}

.titulo {
                 background-color: #000099;   
				 border: none;  
				 color: #ffffff;
				 font-family:  Verdana, sans-serif, Arial; 
				 font-size: 1.3em; 
				 font-weight: bold; 
				 text-align: center;
				 height: 32px;
		}


		

/* End of style section. Generated by AceHTML at 18/05/2009 23:30:56 */
